In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/2004"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Chelsea,42,29,8,1,72:15,57,95
1,2,Arsenal,42,25,8,5,87:36,51,83
2,3,Man Utd,42,22,11,5,58:26,32,77
3,4,Everton,42,18,7,13,45:46,-1,61
4,5,Liverpool,42,17,7,14,52:41,11,58
5,6,Bolton,42,16,10,12,49:44,5,58
6,7,Middlesbrough,42,14,13,11,53:46,7,55
7,8,Man City,42,13,13,12,47:39,8,52
8,9,Tottenham,42,14,10,14,47:41,6,52
9,10,Aston Villa,42,12,11,15,45:52,-7,47
10,11,Charlton,42,12,10,16,42:58,-16,46
11,12,Birmingham,42,11,12,15,40:46,-6,45
12,13,Fulham,42,12,8,18,52:60,-8,44
13,14,Newcastle,42,10,14,14,47:57,-10,44
14,15,Blackburn,42,9,15,14,32:43,-11,42
15,16,Portsmouth,42,10,9,19,43:59,-16,39
16,17,West Brom,42,6,16,16,36:61,-25,34
17,18,Crystal Palace,42,7,12,19,41:62,-21,33
18,19,Norwich,42,7,12,19,42:77,-35,33
19,20,Southampton,42,6,14,18,45:66,-21,32

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley', 'Charlton': 'Charlton Athletic', 'Bradford': 'Bradford City', 'West Brom': 'West Bromwich Albion', 'Birmingham': 'Birmingham City', 'Wolves': 'Wolverhampton Wanderers'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Chelsea,42,29,8,1,72:15,57,95
1,2,Arsenal,42,25,8,5,87:36,51,83
2,3,Manchester United,42,22,11,5,58:26,32,77
3,4,Everton,42,18,7,13,45:46,-1,61
4,5,Liverpool,42,17,7,14,52:41,11,58
5,6,Bolton Wanderers,42,16,10,12,49:44,5,58
6,7,Middlesbrough,42,14,13,11,53:46,7,55
7,8,Manchester City,42,13,13,12,47:39,8,52
8,9,Tottenham Hotspur,42,14,10,14,47:41,6,52
9,10,Aston Villa,42,12,11,15,45:52,-7,47
10,11,Charlton Athletic,42,12,10,16,42:58,-16,46
11,12,Birmingham City,42,11,12,15,40:46,-6,45
12,13,Fulham,42,12,8,18,52:60,-8,44
13,14,Newcastle United,42,10,14,14,47:57,-10,44
14,15,Blackburn Rovers,42,9,15,14,32:43,-11,42
15,16,Portsmouth,42,10,9,19,43:59,-16,39
16,17,West Bromwich Albion,42,6,16,16,36:61,-25,34
17,18,Crystal Palace,42,7,12,19,41:62,-21,33
18,19,Norwich City,42,7,12,19,42:77,-35,33
19,20,Southampton,42,6,14,18,45:66,-21,32

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '2004/2005')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Chelsea,42,29,8,1,72:15,57,95,Jose Mourinho
1,2,Arsenal,42,25,8,5,87:36,51,83,Arsene Wenger
2,3,Manchester United,42,22,11,5,58:26,32,77,Sir Alex Ferguson
3,4,Everton,42,18,7,13,45:46,-1,61,David Moyes
4,5,Liverpool,42,17,7,14,52:41,11,58,Rafael Benitez
5,6,Bolton Wanderers,42,16,10,12,49:44,5,58,Sam Allardyce
6,7,Middlesbrough,42,14,13,11,53:46,7,55,Steve McClaren
7,8,Manchester City,42,13,13,12,47:39,8,52,"Kevin Keegan, Stuart Pearce"
8,9,Tottenham Hotspur,42,14,10,14,47:41,6,52,"Jacques Santini, Martin Jol"
9,10,Aston Villa,42,12,11,15,45:52,-7,47,David O'Leary
10,11,Charlton Athletic,42,12,10,16,42:58,-16,46,Alan Curbishley
11,12,Birmingham City,42,11,12,15,40:46,-6,45,Steve Bruce
12,13,Fulham,42,12,8,18,52:60,-8,44,Chris Coleman
13,14,Newcastle United,42,10,14,14,47:57,-10,44,"Graeme Souness, Sir Bobby Robson"
14,15,Blackburn Rovers,42,9,15,14,32:43,-11,42,"Graeme Souness, Mark Hughes, Tony Parkes"
15,16,Portsmouth,42,10,9,19,43:59,-16,39,"Alain Perrin, Harry Redknapp, Velimir Zajec"
16,17,West Bromwich Albion,42,6,16,16,36:61,-25,34,"Bryan Robson, Frank Burrows, Gary Megson"
17,18,Crystal Palace,42,7,12,19,41:62,-21,33,Iain Dowie
18,19,Norwich City,42,7,12,19,42:77,-35,33,Nigel Worthington
19,20,Southampton,42,6,14,18,45:66,-21,32,"Harry Redknapp, Paul Sturrock, Steve Wigley"

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '2004/2005'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,2004/2005,1,CHE,Chelsea,42,29,8,1,72:15,57,95,Jose Mourinho
1,2004/2005,2,ARS,Arsenal,42,25,8,5,87:36,51,83,Arsene Wenger
2,2004/2005,3,MUN,Manchester United,42,22,11,5,58:26,32,77,Sir Alex Ferguson
3,2004/2005,4,EVE,Everton,42,18,7,13,45:46,-1,61,David Moyes
4,2004/2005,5,LIV,Liverpool,42,17,7,14,52:41,11,58,Rafael Benitez
5,2004/2005,6,BWA,Bolton Wanderers,42,16,10,12,49:44,5,58,Sam Allardyce
6,2004/2005,7,MID,Middlesbrough,42,14,13,11,53:46,7,55,Steve McClaren
7,2004/2005,8,MCI,Manchester City,42,13,13,12,47:39,8,52,"Kevin Keegan, Stuart Pearce"
8,2004/2005,9,THO,Tottenham Hotspur,42,14,10,14,47:41,6,52,"Jacques Santini, Martin Jol"
9,2004/2005,10,AVI,Aston Villa,42,12,11,15,45:52,-7,47,David O'Leary
10,2004/2005,11,CAT,Charlton Athletic,42,12,10,16,42:58,-16,46,Alan Curbishley
11,2004/2005,12,BCI,Birmingham City,42,11,12,15,40:46,-6,45,Steve Bruce
12,2004/2005,13,FUL,Fulham,42,12,8,18,52:60,-8,44,Chris Coleman
13,2004/2005,14,NUN,Newcastle United,42,10,14,14,47:57,-10,44,"Graeme Souness, Sir Bobby Robson"
14,2004/2005,15,BRO,Blackburn Rovers,42,9,15,14,32:43,-11,42,"Graeme Souness, Mark Hughes, Tony Parkes"
15,2004/2005,16,POR,Portsmouth,42,10,9,19,43:59,-16,39,"Alain Perrin, Harry Redknapp, Velimir Zajec"
16,2004/2005,17,WBR,West Bromwich Albion,42,6,16,16,36:61,-25,34,"Bryan Robson, Frank Burrows, Gary Megson"
17,2004/2005,18,CPA,Crystal Palace,42,7,12,19,41:62,-21,33,Iain Dowie
18,2004/2005,19,NCI,Norwich City,42,7,12,19,42:77,-35,33,Nigel Worthington
19,2004/2005,20,SOU,Southampton,42,6,14,18,45:66,-21,32,"Harry Redknapp, Paul Sturrock, Steve Wigley"

In [17]:
updated_league_table.to_csv('2004_2005 League Table.csv')