In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/2001"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Arsenal,42,26,9,3,79:36,43,87
1,2,Liverpool,42,24,8,6,67:30,37,80
2,3,Man Utd,42,24,5,9,87:45,42,77
3,4,Newcastle,42,21,8,9,74:52,22,71
4,5,Leeds,42,18,12,8,53:37,16,66
5,6,Chelsea,42,17,13,8,66:38,28,64
6,7,West Ham,42,15,8,15,48:57,-9,53
7,8,Aston Villa,42,12,14,12,46:47,-1,50
8,9,Tottenham,42,14,8,16,49:53,-4,50
9,10,Blackburn,42,12,10,16,55:51,4,46
10,11,Southampton,42,12,9,17,46:54,-8,45
11,12,Middlesbrough,42,12,9,17,35:47,-12,45
12,13,Fulham,42,10,14,14,36:44,-8,44
13,14,Charlton,42,10,14,14,38:49,-11,44
14,15,Everton,42,11,10,17,45:57,-12,43
15,16,Bolton,42,9,13,16,44:62,-18,40
16,17,Sunderland,42,10,10,18,29:51,-22,40
17,18,Ipswich,42,9,9,20,41:64,-23,36
18,19,Derby,42,8,6,24,33:63,-30,30
19,20,Leicester,42,5,13,20,30:64,-34,28

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley', 'Charlton': 'Charlton Athletic', 'Bradford': 'Bradford City'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Arsenal,42,26,9,3,79:36,43,87
1,2,Liverpool,42,24,8,6,67:30,37,80
2,3,Manchester United,42,24,5,9,87:45,42,77
3,4,Newcastle United,42,21,8,9,74:52,22,71
4,5,Leeds United,42,18,12,8,53:37,16,66
5,6,Chelsea,42,17,13,8,66:38,28,64
6,7,West Ham United,42,15,8,15,48:57,-9,53
7,8,Aston Villa,42,12,14,12,46:47,-1,50
8,9,Tottenham Hotspur,42,14,8,16,49:53,-4,50
9,10,Blackburn Rovers,42,12,10,16,55:51,4,46
10,11,Southampton,42,12,9,17,46:54,-8,45
11,12,Middlesbrough,42,12,9,17,35:47,-12,45
12,13,Fulham,42,10,14,14,36:44,-8,44
13,14,Charlton Athletic,42,10,14,14,38:49,-11,44
14,15,Everton,42,11,10,17,45:57,-12,43
15,16,Bolton Wanderers,42,9,13,16,44:62,-18,40
16,17,Sunderland,42,10,10,18,29:51,-22,40
17,18,Ipswich Town,42,9,9,20,41:64,-23,36
18,19,Derby County,42,8,6,24,33:63,-30,30
19,20,Leicester City,42,5,13,20,30:64,-34,28

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '2001/2002')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Arsenal,42,26,9,3,79:36,43,87,Arsene Wenger
1,2,Liverpool,42,24,8,6,67:30,37,80,Gerard Houllier
2,3,Manchester United,42,24,5,9,87:45,42,77,Sir Alex Ferguson
3,4,Newcastle United,42,21,8,9,74:52,22,71,Sir Bobby Robson
4,5,Leeds United,42,18,12,8,53:37,16,66,David O'Leary
5,6,Chelsea,42,17,13,8,66:38,28,64,Claudio Ranieri
6,7,West Ham United,42,15,8,15,48:57,-9,53,Glenn Roeder
7,8,Aston Villa,42,12,14,12,46:47,-1,50,"Graham Taylor, John Deehan, John Gregory"
8,9,Tottenham Hotspur,42,14,8,16,49:53,-4,50,Glenn Hoddle
9,10,Blackburn Rovers,42,12,10,16,55:51,4,46,Graeme Souness
10,11,Southampton,42,12,9,17,46:54,-8,45,"Gordon Strachan, Stuart Gray"
11,12,Middlesbrough,42,12,9,17,35:47,-12,45,Steve McClaren
12,13,Fulham,42,10,14,14,36:44,-8,44,Jean Tigana
13,14,Charlton Athletic,42,10,14,14,38:49,-11,44,Alan Curbishley
14,15,Everton,42,11,10,17,45:57,-12,43,"David Moyes, Walter Smith"
15,16,Bolton Wanderers,42,9,13,16,44:62,-18,40,Sam Allardyce
16,17,Sunderland,42,10,10,18,29:51,-22,40,Peter Reid
17,18,Ipswich Town,42,9,9,20,41:64,-23,36,George Burley
18,19,Derby County,42,8,6,24,33:63,-30,30,"Billy McEwan, Colin Todd, Jim Smith, John Gregory"
19,20,Leicester City,42,5,13,20,30:64,-34,28,"Dave Bassett, Micky Adams, Peter Taylor"

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '2001/2002'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,2001/2002,1,ARS,Arsenal,42,26,9,3,79:36,43,87,Arsene Wenger
1,2001/2002,2,LIV,Liverpool,42,24,8,6,67:30,37,80,Gerard Houllier
2,2001/2002,3,MUN,Manchester United,42,24,5,9,87:45,42,77,Sir Alex Ferguson
3,2001/2002,4,NUN,Newcastle United,42,21,8,9,74:52,22,71,Sir Bobby Robson
4,2001/2002,5,LUN,Leeds United,42,18,12,8,53:37,16,66,David O'Leary
5,2001/2002,6,CHE,Chelsea,42,17,13,8,66:38,28,64,Claudio Ranieri
6,2001/2002,7,WHA,West Ham United,42,15,8,15,48:57,-9,53,Glenn Roeder
7,2001/2002,8,AVI,Aston Villa,42,12,14,12,46:47,-1,50,"Graham Taylor, John Deehan, John Gregory"
8,2001/2002,9,THO,Tottenham Hotspur,42,14,8,16,49:53,-4,50,Glenn Hoddle
9,2001/2002,10,BRO,Blackburn Rovers,42,12,10,16,55:51,4,46,Graeme Souness
10,2001/2002,11,SOU,Southampton,42,12,9,17,46:54,-8,45,"Gordon Strachan, Stuart Gray"
11,2001/2002,12,MID,Middlesbrough,42,12,9,17,35:47,-12,45,Steve McClaren
12,2001/2002,13,FUL,Fulham,42,10,14,14,36:44,-8,44,Jean Tigana
13,2001/2002,14,CAT,Charlton Athletic,42,10,14,14,38:49,-11,44,Alan Curbishley
14,2001/2002,15,EVE,Everton,42,11,10,17,45:57,-12,43,"David Moyes, Walter Smith"
15,2001/2002,16,BWA,Bolton Wanderers,42,9,13,16,44:62,-18,40,Sam Allardyce
16,2001/2002,17,SUN,Sunderland,42,10,10,18,29:51,-22,40,Peter Reid
17,2001/2002,18,ITO,Ipswich Town,42,9,9,20,41:64,-23,36,George Burley
18,2001/2002,19,DCO,Derby County,42,8,6,24,33:63,-30,30,"Billy McEwan, Colin Todd, Jim Smith, John Gregory"
19,2001/2002,20,LCI,Leicester City,42,5,13,20,30:64,-34,28,"Dave Bassett, Micky Adams, Peter Taylor"

In [17]:
updated_league_table.to_csv('2001_2002 League Table.csv')